# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Студенты/

Kolegov/\.vs/

Kolegov/base/Release/

Kolegov/base/base\.vcxproj\.user

Kolegov/base_test/Release/

Kolegov/gtest/Release/

Kolegov/gtest/gtest\.vcxproj\.user
